<!DOCTYPE html>
<html>
<head>
    <title>Страница Платежей</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div style="display: flex; padding-left: 12px;">
        <div style="width: 50%;">
            <h3>Выбор</h3>
            <p>Курс:
            <select id="course-dropdown">
                <option value="">Выберите курс</option>    
            </select>
            </p>
            <p>Поток:
            <select id="stream-dropdown" disabled>
                <option value="">Выберите поток</option>
            </select>
            </p>
            <p>Тариф:
            <select id="Instance-dropdown" disabled>
                <option value="">Выберите тариф</option>
            </select>
            </p>
            <p>Дата от:
                <input type="date" id="date-from" name="date-from">
                </p>
                <p>Дата до:
                <input type="date" id="date-to" name="date-to">
                </p>
        </div>
    </div>
    <div id="totals">
    </div>

    <select id="currency-dropdown">
        <option value="RUB">RUB</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="ILS">ILS</option>
    </select>

    <div id="total-amount"></div>
    <button id="refresh-btn">Обновить</button>
    <h3>Платежи</h3>
    <table id="payments" class="table" style="width:100%;height:400px">
        <thead>
            <tr>
                <th>Курс</th>
                <th>Время</th>
                <th>Оплачено</th>
                <th>Сумма оплаты (USD)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            // Функция для загрузки данных о курсах
            function loadCourses() {
                $.ajax({
                    url: '/api/courses/',
                    type: 'GET',
                    success: function(data) {
                        var courseDropdown = $('#course-dropdown');
                        $.each(data, function(index, course) {
                            if (course.visibility === 2) {
                                courseDropdown.append('<option value="' + course.name + '"  id="' + course.id + '">' + course.name + '</option>');
                            }
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }

            // Загрузка курсов при загрузке страницы
            loadCourses();

            // Функция для обновления списка потоков при выборе курса
            $('#course-dropdown').change(function() {
                var selectedCourse = $(this).val();
                var selectedCourseId = $(this).children('option:selected').attr('id'); // Получаем идентификатор курса
                $('#stream-dropdown').prop('disabled', true).empty();
                $('#Instance-dropdown').prop('disabled', true).empty();

                if (selectedCourse) {
                    $.ajax({
                        url: '/api/coursestreams/?course=' + selectedCourse,
                        type: 'GET',
                        success: function(data) {
                            var streamDropdown = $('#stream-dropdown');
                            streamDropdown.prop('disabled', false);
                            $.each(data, function(index, stream) {
                                if(stream.course == selectedCourseId ){
                                    streamDropdown.append('<option value="' + stream.name + '" id="' + stream.id + '">' + stream.name+'</option>');
                                }
                                
                            });
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                }
            });

            // Функция для обновления списка тарифов при выборе потока
            $('#stream-dropdown').change(function() {
                var selectedCourse = $('#course-dropdown').val();
                var selectedStream = $(this).val();
                var selectedStreamId = $(this).children('option:selected').attr('id'); // Получаем идентификатор курса
                $('#Instance-dropdown').prop('disabled', true).empty();

                if (selectedStream) {
                    $.ajax({
                        url: '/api/courseinstances/?course=' + selectedCourse + '&stream=' + selectedStream,
                        type: 'GET',
                        success: function(data) {
                            var instanceDropdown = $('#Instance-dropdown');
                            instanceDropdown.prop('disabled', false);
                            $.each(data, function(index, instance) {
                                if(instance.stream == selectedStreamId){
                                    instanceDropdown.append('<option value="' + instance.name + '">' + instance.name + '</option>');

                                }
                                
                            });
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                }
            });

            // Функция для загрузки платежей при выборе курса, потока или тарифа
            function loadPayments() {
                var selectedCourse = $('#course-dropdown').val();
                var selectedStream = $('#stream-dropdown').val();
                var selectedInstance = $('#Instance-dropdown').val();
                var selectedCurrency = $('#currency-dropdown').val();
                var selectedDataFrom = $('#data-from').val();
                var selectedDataTo = $('#data-to').val();

                // формируем URL 
                var url = '/api/get_filtered_payments/?';
                if (selectedCourse) {
                    url += 'course=' + selectedCourse + '&';
                }
                if (selectedStream) {
                    url += 'stream=' + selectedStream + '&';
                }
                if (selectedInstance) {
                    url += 'instance=' + selectedInstance + '&';
                }
                if (selectedDataFrom) {
                    url += 'data_from=' + selectedDataFrom+ '&';
                }
                if (selectedDataTo) {
                    url += 'data_to=' + selectedDataTo+ '&';
                }

                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function(data) {

                        $('#rub-total').text(data['rub_total']);
                        $('#usd-total').text(data['usd_total']);
                        $('#eur-total').text(data['eur_total']);
                        $('#ils-total').text(data['ils_total']);
                        var paymentsTable = $('#payments tbody');
                        paymentsTable.empty();
                        $.each(data.data, function(index, payment) {
                            paymentsTable.append('<tr><td>' + payment.course + '</td><td>' + payment.time + '</td><td>' + payment.payed + '</td><td>' + payment.amount + '</td></tr>');
                        });
                        var totals = $('#totals');
                        totals.empty();

                        var currency_dropdown = $('#currency-dropdown')
                        currency_dropdown.empty();

                        $.each(data.amounts, function(index, amount) {
                       
                            totals.append('<p>' + index+ ': <span id="' + amount+ '-total">' + amount + '</span></p>');
                            currency_dropdown.append('<option value="'+index+'">'+index+'</option>')
                           
                        });

                        var total_amount = $('#total-amount');
                        total_amount.empty();
                        $.each(data.total_amounts, function(index, amount) {

                                total_amount.append('<span id="' + index + '" style="display: none;">' + ' ' + amount + ' ' + '</span>');
                            
                        
                        });

                        

                      

                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }

            function total_amount(){
                var total_amount_elements = Array.from(document.querySelectorAll('#total-amount span'));
                var selectedCurrency = $('#currency-dropdown').val();
                total_amount_elements.forEach(element => {
                    if (element.id === selectedCurrency){
                        element.style.display = 'block';
                    } else {
                        element.style.display = 'none';
                    }
                });
            }


            // Обновляем платежи при нажатии на кнопку "Обновить"
            $('#currency-dropdown').change(total_amount);
            $('#refresh-btn').click(loadPayments);
        });


        
    </script>
</body>
</html>
