<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Страница Платежей</title>
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
</head>
<body>
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:true" style="height:300px;display:flex;">
            <div  style="padding:10px;width:50%">
                <div style="margin-bottom:10px;">
                    <span>Курс:</span>
                    <input id="course-dropdown" class="easyui-combobox" data-options="{
                        valueField: 'id',
                        textField: 'name',
                        onChange: function(value){ 
                            if(value){
                                $('#stream-dropdown').combobox('clear');
                                $('#instance-dropdown').combobox('clear');
                                $('#date-from').datebox('clear');
                                $('#date-to').datebox('clear');
                                $('#currency-dropdown').combobox('clear');
                                updateUi(); 
                            }
                        }
                    }">
                </div>
                <div style="margin-bottom:10px;">
                    <span>Поток:</span>
                    <input id="stream-dropdown" class="easyui-combobox" data-options="{
                        valueField: 'id',
                        textField: 'name',
                        onChange: function(value){ 
                            if(value){
                                $('#instance-dropdown').combobox('clear');
                                $('#date-from').datebox('clear');
                                $('#date-to').datebox('clear');
                                $('#currency-dropdown').combobox('clear');
                                updateUi(); 
                            }
                        }
                    }">
                </div>
                <div style="margin-bottom:10px;">
                    <span>Тариф:</span>
                    <input id="instance-dropdown" class="easyui-combobox" data-options="{
                        valueField: 'id',
                        textField: 'name',
                        onChange: function(value){ 
                            if(value){
                                $('#date-from').datebox('clear');
                                $('#date-to').datebox('clear');
                                $('#currency-dropdown').combobox('clear');
                                updateUi(); 
                            }
                        }
                    }">
                </div>
                <div style="margin-bottom:10px;">
                    <span>Период:</span>
                    <input id="date-from" class="easyui-datebox" data-options="formatter:formatDate,parser:parseDate">
                    <input id="date-to" class="easyui-datebox" data-options="formatter:formatDate,parser:parseDate">
                </div>
                <div>
                    <a id="refresh-btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="updateUi()">Обновить</a>
                </div>
            </div>
            <div style="padding:10px;">

                <div id="totals" style="margin-top:10px;"></div>
                <div style="margin-top:10px;">
                    <span>Всего:</span>
                    <span id="total-amount"></span>
                    <input id="currency-dropdown" class="easyui-combobox" data-options="{
                        valueField: 'id',
                        textField: 'name',
                        onChange: function(value) {
                            $('#total-amount').text(value);
                        }
                    }">
                </div>
            </div>
        </div>
        <div data-options="region:'center'">
            <table id="payments" class="easyui-datagrid" data-options="fitColumns:true, singleSelect:true, rownumbers:true, sortName:'course', sortOrder:'asc'">

        </div>
    </div>

    <script>
        $(document).ready(function() {
           
            fillTableHeaders();
            fillTableData();
            updateUi();
        });

        function formatDate(date) {
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
            return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
        }

        function parseDate(str) {
            var t = Date.parse(str);
            if (!isNaN(t)) {
                return new Date(t);
            } else {
                return new Date();
            }
        }

        function updateUi() {
            $.ajax({
                url: '/api/get_ui/',
                method: 'GET',
                data: {
                    course: $('#course-dropdown').combobox('getValue'),
                    stream: $('#stream-dropdown').combobox('getValue'),
                    instance: $('#instance-dropdown').combobox('getValue'),
                    date_from: $('#date-from').datebox('getValue'),
                    date_to: $('#date-to').datebox('getValue'),
                    currency: $('#currency-dropdown').combobox('getValue')
                },
                success: function(data) {
                    var course_dropdown = data.course_dropdown;
                    var stream_dropdown = data.stream_dropdown;
                    var instance_dropdown = data.instance_dropdown;
                    var date_from = data.date_from_field;
                    var date_to = data.date_to_field;
                    var currency_dropdown = data.currency_dropdown;
                    var amounts = data.amounts;

                    $('#course-dropdown').combobox('loadData', course_dropdown);
                    $('#stream-dropdown').combobox('loadData', stream_dropdown);
                    $('#instance-dropdown').combobox('loadData', instance_dropdown);
                    $('#date-from').datebox('setValue', date_from);
                    $('#date-to').datebox('setValue', date_to);
                    $('#currency-dropdown').combobox('loadData', currency_dropdown);
                    $('#currency-dropdown').combobox('setValue', currency_dropdown[0]);

             
                        

                    var totals = $('#totals');
                    totals.empty();

                    $.each(amounts, function(index, amount) {
                        totals.append('<p>' + index + ': <span id="' + amount + '-total">' + amount + '</span></p>');
                    });
                }
            });
        }
        function fillTableHeaders() {
            $.ajax({
                url: '/api/get_table_headers/',
                method: 'GET',
                success: function(data) {

                    var headers = data.headers;
                    console.log(headers)
                    var columns = [];
                    $.each(headers, function(index, header) {
                        columns.push({field: header.id, title: header.name});
                    });
                    $('#payments').datagrid({
                        columns: [columns]
                    });
                }
            });
        }


        function fillTableData() {
            $.ajax({
                url: '/api/fill_data/',
                method: 'GET',
                success: function(tableData) {
                    $('#payments').datagrid('loadData', tableData);
                    
                }
            });
        }

        $('#payments').datagrid({
            onLoadSuccess: function(data) {
                var rows = data.rows;
                var currentMonth = rows[0].month; // предположим, что у вас есть поле "month"
                var startIndex = 0;
                var endIndex = 0;

                for (var i = 1; i < rows.length; i++) {
                    if (rows[i].month !== currentMonth) {
                        endIndex = i - 1;
                        $(this).datagrid('mergeCells', {
                            index: startIndex,
                            field: 'month',  // замените 'month' на имя вашего поля с месяцем
                            rowspan: endIndex - startIndex + 1
                        });

                        startIndex = i;
                        currentMonth = rows[i].month;
                    }
                }

                $(this).datagrid('mergeCells', {
                    index: startIndex,
                    field: 'month',  // замените 'month' на имя вашего поля с месяцем
                    rowspan: rows.length - startIndex
                });
            }
        });

    </script>
</body>
</html>